/*
Cette feuille de styles gère le style du header.

header
    header-nav
        header-texte
        header-lien
        header-lien
        ...
*/

.header-nav {
    --header-color-primary: var(--color-secondary);
    --header-color-secondary: var(--color-primary);
    --header-color-text: var(--color-text);

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    background-color: var(--header-color-primary);
    overflow: hidden;
}

.header-lien,
.header-texte {
    padding: 14px 16px;
    color: var(--header-color-text);
}

.header-texte {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
}

.header-lien {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.header-lien:hover {
    background-color: #ddd;
    color: var(--header-color-secondary);
}

.header-lien.actif {
    background-color: var(--header-color-secondary);
    color: var(--color-text); 
}

/* ________________________ Responsive ________________________ */

@media screen and (max-width: 768px) {
    .header-texte {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-texte {
        margin-right: 30%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1850px) {
    .header-texte {
        margin-right: 48%;
    }
}
