:root {
    --color-primary: #483d8b;
    --color-text: #fff;
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
}

/* ___________________________ Header ____________________________*/

header {
    color: var(--color-text);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333;
    overflow: hidden;
    align-items: center;
}

nav a,
nav span {
    padding: 14px 16px;
    color: var(--color-text);
}

nav span {
    margin-right: 70%;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #ddd;
    color: var(--color-primary);
}

nav a.actif {
    background-color: var(--color-primary);
    color: var(--color-text); 
}

/* _____________________________ Menu __________________________________*/

.menuDeuxPartie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-item {
    width: 40%;
}

/* _____________________________ Projets ________________________________*/
#projets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1620px;
    margin: auto;
    
    color: var(--color-text);
}

.projet {
    background-color: transparent;
    width: 30%;
    min-height: 300px;
    perspective: 1000px; /* Pour l'effet 3D */
    margin: 16px;
}

/* --------------- Cartes --------------- */
.carte {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Rotation verticale au hover */
.projet:hover .carte {
    transform: rotateX(180deg);
}

.carte-recto,
.carte-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 33% 0;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.carte-recto {
    background-color: var(--color-primary);
}

.carte-verso {
    background-color: #185d36;
    transform: rotateX(180deg);
}

/* _____________________________ Profil ________________________________*/

#profil-contenue {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilAvatar {
    max-width: 100%;
    width: 200px;
    height: auto;
}

/* ___________________________ Media Queries ______________________________*/

@media screen and (max-width: 768px) {
    .nav {
        display: block;
    }

    nav span,
    nav a:not(:nth-child(2)) {
        display: none;
    }

    .projet {
        width: 94%;
        justify-content: center;
    }

    nav.responsive {
        position: relative;
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .fa-brands {
        font-size: 3em;
    }

    #arrow-up {
        left: 85%;
        bottom: 15px;
    }
}

@media screen and (min-width: 540px) and (max-width: 768px) {
    .projet {
        width: 468px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .projet {
        width: 45%;
    }
    nav span {
        margin-right: 30%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1850px) {
    nav span {
        margin-right: 48%;
    }
}
