@import "./bootstrap.css";

@import "./header.css";
@import "./carte.css";

:root {
    --color-primary: #5e4ec4; /*#584d9b;*/
    --color-secondary:#666;
    --color-text: white;

    background-color: white;
}

/* ___________________________ Balise ____________________________*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;

    min-width: 320px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

li {
    margin-top: 1px;
    margin-bottom: 1px;
}

main {
    flex: 1; 
}

/* ___________________________ Header ____________________________*/

.header-font {
    font-family: 'Shadows Into Light Two', cursive;
}
/* ___________________________ Footer ____________________________*/

footer {
    padding: 14px 16px;
    margin-top: 15px;
    min-width: 100%;
    background-color: var(--color-secondary);

    text-align: center;
    color: var(--color-text);
}

/* ___________________________ Contenu ___________________________*/

.contenu {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    
    display: flex;
    flex-direction: column;
}

.contenu-titre {
    margin-top: 10px;

    font-size: 20px;
}

.contenu-date {
    margin-top: 2px;
    padding-left: 5px;

    font-style: italic;
}

.contenu-p {
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .menu-item {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ___________________________ Images ____________________________*/

.image-grille {
    margin-top: 5px;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}

.image {
    height: auto;

    max-width: 100%;
    width: 30%;
    min-width: 300px;

    margin: 16px;
    margin-top: 10px;
}

/* ___________________________ Autres ____________________________*/

.encadre {
    background-color: lightgrey;
    border-radius: 10px;

    margin-top: 20px;
    padding: 10px;
}

/* _____________________________ Profil ________________________________*/

#profilAvatar {
    max-width: 100%;
    width: 200px;
    height: auto;
}

@media screen and (max-width: 768px) {
    #profilAvatar {
        height: 100px;
        width: 100px;
    }
}

/* ___________________________ Basique ___________________________*/

.align-center {
    align-items: center;
}

.color-inherit {
    color: inherit;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top-30px {
    margin-top: 30px;
}

.text-decoration-underline {
    text-decoration: underline;
}
